@import url(./normalize.css);

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    padding: 5%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    background-color: rgb(244, 244, 244);
}

.memes {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
}

.meme {
    width: 0;
}

.meme .meme1,
.meme .meme2,
.meme .meme3,
.meme .meme4 {
    width: 70vw;
    height: 100%;
    scale: 1;
}

.meme1,
.meme2,
.meme3,
.meme4 {
    opacity: 0;
    transition: opacity 0.3s;
}

.stuff {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.memetext .memetext1,
.memetext .memetext2,
.memetext .memetext3,
.memetext .memetext4 {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}

span {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 4vw;
}

.controls {
    display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
}

input {
    width: 0;
    height: 0;
}

label {
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
}

label:hover {
    cursor: pointer;
    border: 1px solid black;
    background-color: black;
}


#btn1:checked ~ .slider img.meme1,
#btn2:checked ~ .slider img.meme2,
#btn3:checked ~ .slider img.meme3,
#btn4:checked ~ .slider img.meme4 {
    opacity: 1;
}

#btn1:checked ~ .slider .memetext1,
#btn2:checked ~ .slider .memetext2,
#btn3:checked ~ .slider .memetext3,
#btn4:checked ~ .slider .memetext4 {
    display: block;
    opacity: 1;
}

#btn1:checked ~ .slider .controls label[for="btn1"] {
    background-color: black;
}
#btn2:checked ~ .slider .controls label[for="btn2"] {
    background-color: black;
}
#btn3:checked ~ .slider .controls label[for="btn3"] {
    background-color: black;
}
#btn4:checked ~ .slider .controls label[for="btn4"] {
    background-color: black;
}